# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
env/
venv/
.env
.venv/

# Django
*.sqlite3
db.sqlite3
*.log
media/
staticfiles/

# IDE
.vscode/
.idea/
*.suo
*.user

# OS
.DS_Store
Thumbs.db
desktop.ini

# Distribution
dist/
build/
*.egg-info/
